<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if data.title %}{{ data.title }}{% else %}Niddar Alpha v1.0{% endif %}</title>


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
    <style>
        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed,
        figure, figcaption, footer, header, hgroup,
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        article, aside, details, figcaption, figure,
        footer, header, hgroup, menu, nav, section {
            display: block;
        }
        body {
            line-height: 1;
        }
        ol, ul {
            list-style: none;
        }
        blockquote, q {
            quotes: none;
        }
        blockquote:before, blockquote:after,
        q:before, q:after {
            content: '';
            content: none;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        body{
            background-color: #469A8B;
            text-align: center;
            font-family: 'Roboto', sans-serif;
        }
        h1{
            color: #fff;
            font-size: 90px;
            margin-top: 150px;
        }
        h1 span{
            font-size: 15px;
        }
        p{
            color: #fff;
            font-size: 16px;
            margin-top: 20px;
            line-height: 30px;
            font-weight: 300;
            font-family: 'Raleway', sans-serif;
            color: #C5FFF5;

        }
    </style>
</head>

<body>

<h1>Niddar <span>alpha v1.0</span></h1>
<p>An Application framework (Real Time, Role-Based Permission)  built on  AdonisJS <br/> (Node.js)  using Bootstrap 3, Jquery, VueJS <br/>
    Being invented by WebReinvent</p>


<!--common js-->
<script src="/assets/bower/bower.js"></script>
<!--common js-->
</body>
</html>