{% if old('errors') %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {% for error in old('errors') %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </div>
{% endif %}