{% if old('flash') %}
    {% for flash in old('flash') %}
    <div class="alert alert-{{ flash.type }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <li>{{ flash.message }}</li>
    </div>
    {% endfor %}
{% endif %}