<div class="col-sm-12 col-md-3 col-lg-2">
    <div class="sidebar-nav scrollbar">
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="visible-xs navbar-brand">Sidebar</span>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown-header">Admin</li>
                    <li class="active"><a href="{{ "bPindex" | route() }}">Permissions</a></li>
                    <li><a href="#">Roles</a></li>
                    <li><a href="#">Users</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    </div>